In [1]:
import pandas as pd

In [8]:
# 두 엑셀 파일 불러오기
df1 = pd.read_excel('C:/Users/이민정/OneDrive/바탕 화면/mid project/데이터 전처리 완료 엑셀/지역별음주사고.xlsx')
df2 = pd.read_excel('C:/Users/이민정/OneDrive/바탕 화면/mid project/데이터 전처리 완료 엑셀/지역별음주운전20~24.xlsx')

In [12]:
# 공통 열 'id' 기준으로 내부 조인 (inner join)
df_merged = pd.merge(df1, df2, on='시군구', how='inner')

display(df_merged)

   시도_x   시군구  2015  2016  2017  2018  2019 시도_y  2020  2021  2022  2023  2024
0    서울    합계  3453  2874  2864  2856  2190   서울  2327  2059  2348  1938  1576
1    서울    합계  3453  2874  2864  2856  2190   인천   879   771   851   677   613
2    서울    합계  3453  2874  2864  2856  2190   경기  4495  4003  4205  3688  3098
3    서울   종로구    68    77    70    63    48   서울    47    45    56    52    36
4    서울    중구    57    51    39    70    30   서울    49    43    45    37    30
..  ...   ...   ...   ...   ...   ...   ...  ...   ...   ...   ...   ...   ...
72   경기   군포시    78    55    63    59    30   경기    54    50    47    40    33
73   경기  남양주시   228   226   206   212   164   경기   215   181   143   131   133
74   경기   오산시   128    92   107   133    89   경기    89    89    84    79    64
75   경기   의왕시    77    48    51    60    40   경기    48    36    50    27    31
76   경기   하남시    79    62    62    60    67   경기    69    63    67    62    51

[77 rows x 13 columns]

In [18]:
d1 =df_merged[['시도_x','시군구','2015','2016','2017','2018','2019','2020','2021','2022','2023','2024']]
d1.columns = ['시도','시군구','2015','2016','2017','2018','2019','2020','2021','2022','2023','2024']
display(d1)

    시도   시군구  2015  2016  2017  2018  2019  2020  2021  2022  2023  2024
0   서울    합계  3453  2874  2864  2856  2190  2327  2059  2348  1938  1576
1   서울    합계  3453  2874  2864  2856  2190   879   771   851   677   613
2   서울    합계  3453  2874  2864  2856  2190  4495  4003  4205  3688  3098
3   서울   종로구    68    77    70    63    48    47    45    56    52    36
4   서울    중구    57    51    39    70    30    49    43    45    37    30
..  ..   ...   ...   ...   ...   ...   ...   ...   ...   ...   ...   ...
72  경기   군포시    78    55    63    59    30    54    50    47    40    33
73  경기  남양주시   228   226   206   212   164   215   181   143   131   133
74  경기   오산시   128    92   107   133    89    89    89    84    79    64
75  경기   의왕시    77    48    51    60    40    48    36    50    27    31
76  경기   하남시    79    62    62    60    67    69    63    67    62    51

[77 rows x 12 columns]

In [20]:
d1.to_excel('지역별음주사고15~24.xlsx', index=False)