In [1]:
import pandas as pd
import numpy as np

In [2]:
a1 = pd.read_excel('C:/Users/이민정/OneDrive/바탕 화면/mid project/음주운전 관련 데이터/음주_교통사고_20-24.xls')
display(a1)

,시도,시군구,2020,2020.1,2020.2,2021,2021.1,2021.2,2022,2022.1,2022.2,2023,2023.1,2023.2,2024,2024.1,2024.2
0,시도,시군구,사고[건],사망[명],부상[명],사고[건],사망[명],부상[명],사고[건],사망[명],부상[명],사고[건],사망[명],부상[명],사고[건],사망[명],부상[명]
1,합계,합계,17247,287,28063,14894,206,23653,15059,214,24261,13042,159,20628,11037,138,17110
2,합계,종로구,47,0,71,45,0,74,56,0,87,52,0,73,36,0,54
3,합계,중구,49,2,64,43,0,78,45,0,73,37,0,55,30,1,43
4,합계,용산구,65,0,105,72,0,118,94,3,148,64,2,114,73,1,115
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
475,경남,창원시(통합),253,8,389,226,6,359,217,9,315,187,1,283,175,1,265
476,제주,합계,362,5,562,324,7,502,320,7,498,304,2,476,225,4,351
477,제주,제주시,255,4,390,230,5,355,211,6,335,205,0,335,159,2,260
478,제주,서귀포시,107,1,172,94,2,147,109,1,163,99,2,141,66,2,91
479,출처) 한국도로교통공단.&#10;주) 부상자수는 중상자수，경상자수，부상신고자수의 합...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [12]:
a2 = a1[['시도','시군구','2020','2021','2022','2023','2024']]

a3 = a2[a2['시도'].isin(['서울', '경기', '인천'])]

a4 = a3.reset_index(drop = True)
display(a4)

    시도   시군구  2020  2021  2022  2023  2024
0   서울    합계  2327  2059  2348  1938  1576
1   서울   종로구    47    45    56    52    36
2   서울    중구    49    43    45    37    30
3   서울   용산구    65    72    94    64    73
4   서울   성동구    80    87    71    50    52
..  ..   ...   ...   ...   ...   ...   ...
64  경기   군포시    54    50    47    40    33
65  경기  남양주시   215   181   143   131   133
66  경기   오산시    89    89    84    79    64
67  경기   의왕시    48    36    50    27    31
68  경기   하남시    69    63    67    62    51

[69 rows x 7 columns]

In [14]:
a4.to_excel('지역별음주운전20~24.xlsx', index = False)