In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
sns.set()

# 그래프 기본 설정
plt.rcParams['font.family'] = 'Malgun Gothic'
# plt.rcParams['font.family'] = 'AppleGothic'
plt.rcParams['figure.figsize'] = 12, 6
plt.rcParams['font.size'] = 14
plt.rcParams['axes.unicode_minus'] = False

# 복잡한 통계 처리를 위한 라이브러리
from scipy import stats



input_file_dir = "C:/Users/sherm/Desktop/workspace/미드프로젝트/data/raw/"
output_file_dir = "C:/Users/sherm/Desktop/workspace/미드프로젝트/data/processed/"

In [8]:
data=["05-09", "10-14","15-19","20-24"]
for i in data:
    df=pd.read_excel(input_file_dir + f"음주_교통사고_{i}.xls", header=[0, 1])
    df.columns = ['{}_{}'.format(str(x), str(y)).strip() if x != y else x for x, y in df.columns]
    df=df.iloc[:-1]
    df.to_csv(output_file_dir + f"음주_교통사고_{i}.csv",index=False)

In [5]:
df=df.iloc[:-1]

In [6]:
df

,시도,시군구,2020_사고[건],2020_사망[명],2020_부상[명],2021_사고[건],2021_사망[명],2021_부상[명],2022_사고[건],2022_사망[명],2022_부상[명],2023_사고[건],2023_사망[명],2023_부상[명],2024_사고[건],2024_사망[명],2024_부상[명]
0,합계,합계,17247,287,28063,14894,206,23653,15059,214,24261,13042.0,159.0,20628.0,11037,138,17110
1,합계,종로구,47,0,71,45,0,74,56,0,87,52.0,0.0,73.0,36,0,54
2,합계,중구,49,2,64,43,0,78,45,0,73,37.0,0.0,55.0,30,1,43
3,합계,용산구,65,0,105,72,0,118,94,3,148,64.0,2.0,114.0,73,1,115
4,합계,성동구,80,0,132,87,2,142,71,1,105,50.0,0.0,102.0,52,0,82
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
473,경남,합천군,20,0,30,10,0,11,12,0,21,10.0,0.0,13.0,6,0,6
474,경남,창원시(통합),253,8,389,226,6,359,217,9,315,187.0,1.0,283.0,175,1,265
475,제주,합계,362,5,562,324,7,502,320,7,498,304.0,2.0,476.0,225,4,351
476,제주,제주시,255,4,390,230,5,355,211,6,335,205.0,0.0,335.0,159,2,260
477,제주,서귀포시,107,1,172,94,2,147,109,1,163,99.0,2.0,141.0,66,2,91